* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 2rem;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template:
    "... ...... ..." 0px
    "... header ..."
    "... ...... ..." 0px
    "... center ..." 1fr
    "... ...... ..." 0px
    "... footer ..."
    "... ...... ..." 0px
    / 0px 1fr 0px;
}

body{
    /* 左斜め */
    background-color: #90cad44f;
    background-image:
    repeating-linear-gradient(45deg,
     #fff, #fff 7px,
     transparent 0, transparent 14px);
}

header {
  grid-area: header;
}
header h1,
h2,
h3 {
  text-align: center;
}
header h2{
  font-size:2rem;
}
main {
  grid-area: center;
}
main {
  text-align: center;
}
main img{
  display:inline;
  max-width:400px;
}
main img:not([alt]){
  filter: none;
}
footer {
  grid-area: footer;
}
footer div{
  display: flex;
  flex-direction: column;
}
footer a{
  vertical-align: top;
  width:auto;
  height:auto;
}
footer div.source {
  text-align: left;
  font-size: 1rem;
  background-color:white;
  padding:10px;
} 
footer div.banner {
    text-align: center;
    width:100%;
    vertical-align: middle;
    padding:10px;
}
footer div.banner * {
  margin:0px;
  padding:0px;
}
footer div.copyright {
  text-align: center;
}
footer div.copyright small {
  color: gray;
  font-size: 0.6rem;
}
@media screen and (max-width: 1000px) {
  body {
    grid-template:
      "header"
      "center" 1fr
      "footer";
  }
}
